#{$BlogLayout2} {
  background-color: $primary-color;
  padding: 32px 0;

  &__title {
    display: inline-block;
    text-decoration: none;
    color: $secondary-color;
    font-size: 22px;
    margin-bottom: 8px;
    font-family: OpenSans-Bold;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $white;
    margin-bottom: 16px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 32px);
    margin-left: -16px;
  }

  &__blog {
    width: 50%;
    padding: 0px 16px;
    text-decoration: none;
    margin-bottom: 16px;

    @include min-width-992 {
      width: 25%;
      margin-bottom: 0;
    }

    &-thumbnail {
      width: 100%;
      height: 150px;
    }

    &-title {
      display: block;
      margin: 8px 0 0;
      font-size: 16px;
      font-family: OpenSans-SemiBold;
      color: $white;
      text-decoration: none;
    }
  }
}
