// [BEGIN] Layouts
$DashboardLayoutDefault: '.DashboardLayoutDefault';
$DashboardLayoutError: '.DashboardLayoutError';
$DashboardLayout: '.DashboardLayout';
$DashboardLayoutNotFound: '.DashboardLayoutNotFound';
$DashboardLayoutPermissionDenied: '.DashboardLayoutPermissionDenied';
$LandingLayoutDefault: '.LandingLayoutDefault';
$LandingLayoutError: '.LandingLayoutError';
$LandingLayout: '.LandingLayout';
$LandingLayoutNotFound: '.LandingLayoutNotFound';
$LandingLayoutPermissionDenied: '.LandingLayoutPermissionDenied';
// [END] Layouts

// [BEGIN] Pages
$AppError: '.AppError';
$AppNotFound: '.AppNotFound';
$AppPermissionDenied: '.AppPermissionDenied';
$Users: '.Users';
$Home: '.Home';
$News: '.News';
$NewsManagement: '.NewsManagement';
$NewsLayoutManagement: '.NewsLayoutManagement';
$PageLayoutManagement: '.PageLayoutManagement';
$CreateNews: '.CreateNews';
$EditNews: '.EditNews';
$EditPageLayout: '.EditPageLayout';
// [END] Pages

// [BEGIN] Components
$Fallback: '.Fallback';
$Icon: '.Icon';
$Header: '.Header';
$BlogLayout1: '.BlogLayout1';
$BlogLayout2: '.BlogLayout2';
$BlogLayout3: '.BlogLayout3';
$BlogLayout4: '.BlogLayout4';
$BlogLayout5: '.BlogLayout5';
$Button: '.Button';
$BlogLayout6: '.BlogLayout6';
$Footer: '.Footer';
$Breadcrumb: '.Breadcrumb';
$BlogLayout7: '.BlogLayout7';
$Editor: '.Editor';
$BlogWrapper: '.BlogWrapper';
// [END] Components

// [BEGIN] Containers
$AGroupOfComponents: '.AGroupOfComponents';
$LoginForm: '.LoginForm';
$NewsForm: '.NewsForm';
$UploadImage: '.UploadImage';
// [END] Containers
