#{$DashboardLayout} {
  background-color: $athens-gray;
  display: flex;
  min-height: 100vh;

  &__sidebar {
    background-color: $white;
    width: 20rem;

    &-menuItem {
      &.active {
        background-color: $athens-gray;
      }
    }

    &-menuItemIcon,
    &-menuItemLabel {
      color: $oxford-blue;

      &.error {
        color: $persimmon;
        font-weight: bold;
      }
    }
  }

  &__main {
    width: calc(100% - 20rem);
    float: right;
    padding: 24px 24px 48px;
  }
}
