#{$Header} {
  &__images {
    display: none;
    align-items: center;
    padding: 24px 0;

    @include min-width-992 {
      display: flex;
    }

    &-logo,
    &-banner {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &-logo {
      display: none;
      width: 25%;
      padding-right: 16px;

      @include min-width-992 {
        display: block;
      }
    }

    &-banner {
      width: 75%;
      padding-left: 16px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $primary-color;

    &-container {
      background-color: $primary-color;
      overflow: hidden;
      max-height: 0px;
      transition: $medium-animation;

      &.show {
        max-height: 500px;
      }
    }

    &-wrapper {
      display: flex;
      align-items: stretch;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: column;

      @include min-width-992 {
        flex-direction: row;
      }
    }

    &-logo {
      display: block;
      width: 45%;
      padding: 8px;

      @include min-width-992 {
        display: none;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__menuLink {
    color: $white;
    font-size: 14px;
    font-family: OpenSans-Bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    transition: $medium-animation;
    height: 100%;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &__burgerMenu {
    display: flex;
    margin-right: 12px;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;

    @include min-width-992 {
      display: none;
    }

    &-main {
      width: 24px;
      height: 3px;
      background-color: $white;
    }

    &::before,
    &::after {
      content: '';
      width: 24px;
      height: 3px;
      background-color: $white;
    }
  }
}
